body {
  margin: 0;
  text-align: center;
  font-family: 'Stylish', sans-serif;
  color: #40514e;
}

h1 {
  font-size: 5rem;
  margin: 50px auto 0 auto;
  font-family: 'Mr Dafoe', cursive;
  color: #155263;
}

h2 {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #155263;
}

h3 {
  color: #005d6c;
  font-family: 'Montserrat', sans-serif;
}

hr{
  border: dotted #e4f1fe 10px;
  border-bottom: none;
  width: 5%;
  margin: 50px auto;
}

p{
  line-height: 2;
}

.top-container {
  background-color: #defcfc;
  position: relative;
  padding-top: 100px;
}

.copyright{
  color: #00e0ff;
  font-size: 0.75rem;
  padding: 20px 0px;
}

.footer-link{
  color: #155263;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  font-size: 1em;
}

a:hover{
color: #00e0ff;
}

.intro{
  width: 30%;
  margin: auto;

}

.middle-container {
  margin: 50px 0;
}

.bottom-container {
  background-color: #defcfc;
  padding: 50px 0 20px;
  margin-top: 50px;
  height: 75px;
}

.hood {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.main-pic{
  border-radius: 50%;
  height: 250px;
  width: 250px;
}

.creative-img{
  border-radius: 50%;
  width: 25%;
  float: right;
  margin-left: 30px;
}

.writer-img {
  border-radius: 50%;
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skill-row{
  width: 50%;
  margin: 50px auto;
  text-align: left;
}

.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}

#subtitle {
  font-weight: normal;
}

.myButton {
	-moz-box-shadow: 0px 0px 0px 0px #3dc21b;
	-webkit-box-shadow: 0px 0px 0px 0px #3dc21b;
	box-shadow: 0px 0px 0px 0px #3dc21b;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a0e8e8), color-stop(1, #099e9e));
	background:-moz-linear-gradient(top, #a0e8e8 5%, #099e9e 100%);
	background:-webkit-linear-gradient(top, #a0e8e8 5%, #099e9e 100%);
	background:-o-linear-gradient(top, #a0e8e8 5%, #099e9e 100%);
	background:-ms-linear-gradient(top, #a0e8e8 5%, #099e9e 100%);
	background:linear-gradient(to bottom, #a0e8e8 5%, #099e9e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a0e8e8', endColorstr='#099e9e',GradientType=0);
	background-color:#a0e8e8;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 8px #2f6627;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #099e9e), color-stop(1, #a0e8e8));
	background:-moz-linear-gradient(top, #099e9e 5%, #a0e8e8 100%);
	background:-webkit-linear-gradient(top, #099e9e 5%, #a0e8e8 100%);
	background:-o-linear-gradient(top, #099e9e 5%, #a0e8e8 100%);
	background:-ms-linear-gradient(top, #099e9e 5%, #a0e8e8 100%);
	background:linear-gradient(to bottom, #099e9e 5%, #a0e8e8 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#099e9e', endColorstr='#a0e8e8',GradientType=0);
	background-color:#099e9e;
}
.myButton:active {
	position:relative;
	top:1px;
}
